<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>CRUD Vue</title>
</head>
<body>
    <div id="app" class="container mt-5">
        <section class="form">
            <form action="" class="text-center">
                <input v-model="name" @keyup.enter="createName" type="text" class="form-control" placeholder="Name">
                <input v-model="email" @keyup.enter="createEmail" type="email" name="email" placeholder="Email" class="form-control">
                <input @click="createUser" type="button" value="add" class="btn btn-success">
            </form>
        </section>
        <section class="data">
            <caption>Users</caption>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(user, index) in users">
                        <td>{{ user.id }}</td>
                        <td>
                            <span v-if="formUpdate && idUpdate == index">
                                <input v-model="nameUpdate" type="text" class="form-control">
                            </span>
                            <span v-else>
                                {{ user.name }}
                            </span>
                        </td>
                        <td>
                            <span v-if="formUpdate && idUpdate == index">
                                <input v-model="emailUpdate" type="text" class="form-control">
                            </span>
                            <span v-else>
                                {{ user.email }}
                            </span>
                        </td>
                        <td>
                            <span v-if="formUpdate && idUpdate == index">
                                <button @click="saveUpdate(index)" class="btn btn-success">Save</button>
                            </span>
                            <span v-else>
                                <button @click="seeFormUpdate(index)" class="btn btn-primary">Edit</button>
                                <button @click="deleteUpdate(index)" class="btn btn-danger">Delete</button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="vue.js"></script>
</html>